ion-button {
    width: 100%;
}
#msg {
    background-color: yellow;
    color: black;
    min-width: 100%;
    min-height: 60px;
    border-radius: 15px;
    padding-bottom: 10px;
}
h4 {
    text-align: center;
}